<div class="body">
    <app-display></app-display>
</div>

<div [ngClass]="this.alumnoService._res ? 'sidebar' : 'active'" id="transition">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bxs-user-circle'></i>
            <div class="logo_name">
                Control Escolar
            </div>
        </div>
            <i class='bx bx-menu' id="btn" (click)="this.alumnoService.changeRes()"></i>
        
    </div>
    <ul [ngClass]="this.alumnoService._res ? 'nav-list' : 'nav-list-active'">
        <li>
            <a href="init/home/6">
                <i class='bx bxs-home'></i>
                <span class="links_name"> Inicio </span>
            </a>
            <span class="react"> Inicio </span>
        </li>
        <li *appRolPermission="'Administrador'">
            <a href="init/admin">
                <i class='bx bx-chalkboard'></i>
                <span class="links_name"> Administración </span>
            </a>
            <span class="react"> Administración </span>
        </li>
        <li>
            <a href="init/profesores">
                <i class='bx bx-clipboard'></i>
                <span class="links_name"> Profesores </span>
            </a>
            <span class="react"> Profesores </span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">

                <img src="assets/Image mia.jpg" alt="">

                <div class="name_role">
                    <div *appRolPermission="'alumno'" class="name">
                        <span>{{this.user.alumno.nombre}}</span>
                    </div>
                    <div *appRolPermission="'profesor'" class="name">
                        <span>{{this.user.profesor.nombre}}</span>
                    </div>
                    <div *appRolPermission="'administrador'" class="name">
                        <span>{{this.user.correo}}</span>
                    </div>

                    <div class="role">
                        {{this.user.rol.rol}}
                    </div>
                </div>
                <a href="login">
                    <i class='bx bx-log-out' id="logout" (click)="logout()"></i>
                </a>
            </div>

        </div>

    </div>

</div>
