

h2{
  font-size: 28px;
  margin-top: 0;
}

table {
  width: 100%;
  
  font-family: "Poppins", sans-serif;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

td, th {
  width: 0;
}