
.delimit{
    width: 280px;
    margin: 0;
    padding: 0;
}


h2{
    font-weight: bold;
    font-size: 30px;
}

p{
    font-size: 18px;
    margin-top: 10px;
}

i{
    font-size: 70px;
    padding: 10px;
}

div{
    margin-top: 39px;
}

button{
    margin-left: 20px;
    margin-right: 20px;
}