
<app-modal>
  <div class="delimit">
    <h2>¿Estás seguro de eliminar a este usuario?</h2>
    <i class="bx bx-user-x"></i>
    <p>Se eliminará permanentemente de la base de datos</p>
    <div>
      <span>
        <button mat-raised-button color="primary" (click)="sendEvent()">
          Aceptar
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="this.alumnoService.dialog = false"
        >
          Cancelar
        </button>
      </span>
    </div>
  </div>
</app-modal>
