<table>
    <caption caption>Calificaciones del semestre</caption>
    
    <tr class="tableHead">
        <th header>
            Clave
        </th>
        <th header>
            Ciclo
        </th>
        <th header>
            Materia
        </th>
        <th header>
            Cal. I
        </th>
        <th header>
            Cal. II
        </th>
        <th header>
            Cal. III
        </th>
        <th header>
            Promedio
        </th> 
    </tr>

    <tr *ngFor = "let Calificacion of calificionesList" content>
        <td>
            {{Calificacion.materia.clave}}
        </td>
        <td>
            {{Calificacion.materia.ciclo.periodo.periodo}}
        </td>
        <td>
            {{Calificacion.materia.nombre}}
        </td>
        <td>
            {{Calificacion.cal1}}
        </td>
        <td>
            {{Calificacion.cal2}}
        </td>
        <td>
            {{Calificacion.cal3}}
        </td>
        <td>
            {{Calificacion.promedio}}
        </td>
    </tr>

</table>