
<h2>Bienvenido Profesor</h2>
    
<div class="header">
    <span class="fullName">
        {{profesor.apePaterno}}
        {{profesor.apeMaterno}}
        {{profesor.nombre}}
    </span>
    <div class="data">
        <ul class="list">
            <li>
                Id: <span class="variable"> {{profesor.id}}</span>
            </li>
            <li>
                Clave: <span class="variable">
                    {{profesor.clave}}
                </span>
            </li>
            <li>
                Correo: <span class="variable">
                    {{profesor.correo}}
                </span>
            </li>
        </ul>
    </div>
</div>