<div>
  <mat-grid-list cols="4" rowHeight="70px">
    <form [formGroup]="form">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field appearance="outline" class="formEdit">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput autocomplete="off" formControlName="apePaterno"  />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="5">
        <i id="image" class='bx bx-user-circle'></i>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field appearance="outline" class="formEdit">
          <mat-label>Apellido Materno</mat-label>
          <input matInput autocomplete="off" formControlName="apeMaterno"  />
        </mat-form-field> 
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field appearance="outline" class="formEdit">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" formControlName="nombre"  />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field appearance="outline" class="formEdit">
          <mat-label>Correo</mat-label>
          <input matInput autocomplete="off" type="text" formControlName="correo" placeholder="ittiva@example.com"/>
        </mat-form-field> 
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="formEdit" appearance="outline">
          <mat-label>CURP</mat-label>
          <input matInput type="text" autocomplete="off" (keyup)="onTextKeyup($event)" formControlName="curp"/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="formEdit" appearance="outline">
          <mat-label>Expediente</mat-label>
          <input matInput type="text" autocomplete="off" (keyup)="onTextKeyup($event)" formControlName="expediente"/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="formEdit" appearance="outline">
          <mat-label>Grupo</mat-label>
          <mat-select formControlName="grupo">
            <mat-option *ngFor="let grupo of this.grupoService.grupos" [value]="grupo.id">{{grupo.grupo}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="formEdit" appearance="outline">
          <mat-label>Genero</mat-label>
          <mat-select formControlName="genero">
            <mat-option value="Masculino">Masculino</mat-option>
            <mat-option value="Femenino">Femenino</mat-option>
            <mat-option value=""></mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="formEdit" appearance="outline">
          <mat-label>Estatus</mat-label>
          <mat-select formControlName="estatus">
            <mat-option value="1">Inactivo</mat-option>
            <mat-option value="2">Activo</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </form>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <button
        mat-raised-button
        color="primary"
        class="boton"
        (click)="aceptar()"
        [disabled]="form.invalid"
        >{{ funcion() }}</button>
        <button
        mat-raised-button
        color="warn"
        class="boton"
        (click)="cancelar()"
        >Cancelar</button>
      </mat-grid-tile>
  </mat-grid-list>
</div>
