
.formEdit{
    width: 65%;
    height: 85%;
}



.boton{
    margin: 15px;
}

#image{
    font-size: 150px;
    color: purple;
    padding: 47px;
    font-weight: 50;
    border: solid 4px;
    border-color: purple;
    border-radius: 5px;
}