
<div>

    <h2>Bienvenido Alumno</h2>
    
    <div class="header">
        <span class="fullName">
            {{alumno.apePaterno}}
            {{alumno.apeMaterno}}
            {{alumno.nombre}}
        </span>
        <div class="data">
            <ul class="list">
                <li>
                    Id: <span class="variable"> {{alumno.id}}</span>
                </li>
                <li>
                    Expediente: <span class="variable">
                        {{alumno.expediente}}
                    </span>
                </li>
                <li>
                    CURP: <span class="variable">
                        {{alumno.curp}}
                    </span>
                </li>
                <li>
                    Sexo: <span class="variable">
                        {{alumno.genero}}
                    </span>
                </li>
                <li>
                    Estatus: <span class="variable">
                        {{alumno.estatus.estatus}}
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="grades" *ngIf="calificaciones != null; else noMaterias">
        <app-materias-tabla [calificionesList] = "calificaciones" *ngIf="mostrar">
        </app-materias-tabla>
    </div>
</div>

<ng-template #noMaterias>
    <div id="calificaciones">
        <h1>No hay materias por mostrar</h1>
    </div>
</ng-template>

<!-- <ng-template #cargando>
    <div id="cargando">
        <h1>Cargando...</h1>
    </div>
</ng-template> -->
